*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 0.6rem;
    background-color: #FFF2CC;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #808080
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 15px
}
.menu-list li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu-list a{
    text-decoration: none;
    color: #000;
}
.cart{
    background-color: #dae8fc;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #6e6e6e;
}
.main{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
    gap: 1.5rem;
}
.product-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.product-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img-detail{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.img-detail img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.product-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
}
.color{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}
.color-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.color-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.blue{
    color: #dae8fc;
    font-weight: bold;
    background-color: #0000FF;
    transition: 0.3s ease;
}
.red{
    color: #dae8fc;
    font-weight: bold;
    background-color: #FF0000;
    transition: 0.3s ease;
}
.green{
    color: #dae8fc;
    font-weight: bold;
    background-color: #008000;
    transition: 0.3s ease;
}
.blue:hover{
    background-color: #191999;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.red:hover{
    background-color: #8f1919;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.green:hover{
    background-color: #1b531b;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.design{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}
.design-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.design-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.classic{
    background-color: #0000FF;
    color: #dae8fc;
    font-weight: bold;
    transition: 0.3s ease;
}
.price{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.price p{
    font-weight: bold;
}
.discount{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.discount p{
    font-weight: bold;
}
.rating{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.rating p{
    font-weight: bold;
}
.rating-list{
    color: #FFD700;
}
.product-footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.quantity-select{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1 !important; /* Luôn hiển thị spinner */
}

.addToCart{
    display: flex;
    flex-direction: row;
    gap: 3px;
    background-color: #ffa8a8;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #ff7272;
}

.main-footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 3.4rem;
    box-sizing: border-box;
    gap: 10px;
}
.comment-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    margin: 10px 0;
}
.content-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.customer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.customer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}
.customer-info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.content-bottom{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.customer-info p{
    font-size: 14px;
    font-style: italic;
    color: #afafaf;
}



.footer{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: #FFF2CC;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 0 0;
    gap: 10px;
}
.phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 0 0;
    gap: 10px;
}

@media screen and (max-width: 838px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .product-img{
        max-width: 100%;
    }
    .product-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 20px;
    }
}
