*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 0.6rem;
    background-color: #FFF2CC;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #808080
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 15px
}
.menu-list li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu-list a{
    text-decoration: none;
    color: #000;
}
.cart{
    background-color: #dae8fc;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #6e6e6e;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
    gap: 1.5rem;
}
.product-menu{
    flex: 1;
}
.product-select{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    border: 2px solid black;
}
.product-select a{
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 80%;
    text-decoration: none;
    color: black;
    background-color: #b0e3e6;
    border: 2px solid #447b7e;
    border-radius: 10px;
    transition: 0.5s ease;
}
.product-select a:hover{
    background-color: #447b7e;
    color: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}
.category-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-list{
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-search{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 3px 14px;
    align-items: center;
    border: 2px solid black;
}
.search{
    flex: 3;
    padding: 8px 5px ;
}
.search-child{
    display: flex;
    align-items: center;
    width: 70%;
    gap: 10px;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    padding: 0px 10px;
    border-radius: 8px;
}
.search-child input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    padding: 10px;
    &:focus{
        outline: none;
    };
}
.search-button{
    background-color: transparent;
    border: none;
}
.select-search{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px;
}
.select-search select{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    color: #808080;
    &:focus{
        outline: none;
    }
}
.product-detail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.product-card{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-card h4{
    padding: 10px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: #FFF2CC;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 0 0;
    gap: 10px;
}
.phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 0 0;
    gap: 10px;
}
@media screen and (max-width: 884px) {
    .product-menu{
        display: none;
    }
    .product-search{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .product-detail{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }
    
}
