*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bt1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.bt1 img{
    margin: 10px 0;
    padding: 3px;
    border: 1px solid black;
}
.bt2{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(3, 3, 3, 0.4);
}
.bt2 img{
    margin-bottom: 20px;
}
.bt2 hr{
    margin-bottom: 12px;
    border: none;
    background: linear-gradient(to right, rgb(0, 38, 255), #9f6);
    height: 1px;
}
.bt2 h2{
    margin-bottom: 10px;
    font-size: 35px;
}
.bt2 p{
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(124, 121, 121);
}
.buyNow{
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
}
.buyNow a{
    width: 30%;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(75, 161, 75);
    color: white;
    transition: ease 0.5s;
}
.buyNow a:hover{
    background-color: rgb(125, 173, 125);
    box-shadow: 0px 4px 10px rgba(3, 3, 3, 0.4); ;
    color: white;
}
.bt3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}
.menu{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: black;
}
.menu li{
    width: 350px;
    padding: 5px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: ease 0.4s;
}
.menu li:hover {
    background-color: rgb(110, 108, 108);
    box-shadow: 0px 4px 10px rgba(3, 3, 3, 0.4);
} 
.menu a{
    text-decoration: none;
    color: #fff;
    

} 
.register-menu{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}
.register-menu li{
    padding-top: 5px;
    padding-right: 20px;
    list-style: none;
}
.register-menu a{
    text-decoration: none;
    color: #fff ;
}
.home{
    width: 80%;
    height: 80%;
    margin: 0 30px;
    padding: 10px;
    border: 1px solid black;
}
.header{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}
.logo{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 10px;
}
.register-form{
    border: 1px solid black;
    padding: 3px;
}
.content{
    height: 700px;
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.content-left{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 9px;
}
.top{
    margin: 5px;
    padding: 5px;
    height: 50%;
    border: 1px solid black;
}
.content-small{
    box-sizing: border-box;
    position: relative;
    top: 200px;
}
.bottom{
    text-align: center;
    margin: 5px;
    height: 50%;
    border: 1px solid black;
}
.content-right{
    margin-left: 5px;
    width: 100%;
    border: 1px solid black;
}
.img{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 20px;
    left: 900px;
}
